.container {
  display: grid;
  justify-items: center;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background: rgba(114, 186, 94, 0.05);
}
.item {
  width: 50%;
  height: 50%;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);
}
