body {
	background-color: white;
	color: #2a3e52;
	border-color: #2a3e52;
	margin: 0;
	padding: 0;
	height: 100%;
}

content {
	position: relative;
	top: 120px;
	min-height: 100%;
	padding-bottom: 120px;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	top: 120px;
	min-height: 100%;
	padding-bottom: 120px;
}
