<!DOCTYPE html>
<html>

<head>
  <title>PiRo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel="stylesheet" type="text/css" href="css/contact-us.css">
  <link rel="stylesheet" type="text/css" href="css/page-content.css">
  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript">
  var mybutton = document.getElementById("topbtn");
  window.onscroll = function() { scrollFunction() };

  function submitForm() {
    var email = document.getElementById("email").value;
    var name = document.getElementById("fname").value;
    var surname = document.getElementById("lname").value;
    var content = document.getElementById("subject").value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/sendMail', true);

    //Send the proper header information along with the request
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onreadystatechange = function() { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        document.getElementById("email-warning").innerHTML = this.responseText;
      }
    }
    xhr.send(JSON.stringify({ EmailAdress: email, FirstName: name, LastName: surname, EmailContent: content }));
  }

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>
</head>

<body>
  <header>
    <div class="logo-container">
      <a id="triangle-logo" href="index.html"></a>
      <a id="page-title" href="index.html">PiRo</a>
    </div>
    <nav>
      <a href="custom-statistics">Statistics</a>
      <a href="contact-us.html">Contact Us</a>
      <div class="dropdown">
        <img class="dropbtn" src="assets/img/menu.svg" onclick="showDropdown()" alt="Menu">
        <div id="myDropdown" class="dropdown-content">
          <a href="custom-statistics">Statistics</a>
          <a href="contact-us.html">Contact Us</a>
        </div>
      </div>
    </nav>
  </header>
  <button onclick="topFunction()" id="topbtn" title="Go to top">Top</button>
  <main>
    <div id="top"></div>
    <div class="FAQ">
      <h2 class="FAQ-title">
        Frequently asked questions.
      </h2>
      <div class="FAQ-container">
        <div class="FAQ-card">
          <a class="FAQ-itemLink" href="#pisa-exam-answers">
            <img height="100" src="assets/img/questionmark.svg" alt="Question Mark" width="100" height="100">
            <p class="FAQ-item-title">
              Pisa exam.
            </p>
            <ul class="FAQ-item-statisticsList">
              <li> What is the pisa exam? </li>
              <li> How do i take the exam? </li>
              <li> How long does it take to recieve results? </li>
            </ul>
          </a>
        </div>
        <div class="FAQ-card">
          <a class="FAQ-itemLink" href="#about-us-answers">
            <img height="100" src="assets/img/docs.svg" alt="Documents" width="100" height="100">
            <p class="FAQ-item-title">
              About us.
            </p>
            <ul class="FAQ-item-statisticsList">
              <li> What do we offer? </li>
              <li> How do you contact us? </li>
              <li> How do I learn more about the website? </li>
            </ul>
          </a>
        </div>
        <div class="FAQ-card">
          <div class="thirdCard">
            <a class="FAQ-itemLink" href="#work-us-answers">
              <img height="100" src="assets/img/suitcase.svg" alt="Suitcase" width="100" height="100">
              <p class="FAQ-item-title">
                Work with us.
              </p>
              <ul class="FAQ-item-statisticsList">
                <li> How do i apply for work? </li>
                <li> What kind of experience is needed? </li>
                <li> Do you offer internships? </li>
              </ul>
            </a>
          </div>
        </div>
  </main>
  <div class="pisa-exam-answers" id="pisa-exam-answers">
    <div class="Answers">
      <p class="topAnswer">PISA is an international study that was launched by the OECD in 1997, first administered in 2000 and now covers over 80 countries. Every 3 years the PISA survey provides comparative data on 15-year-olds' performance in reading, mathematics and science. In addition, each cycle explores a distinct "innovative domain" such as Collaborative Problem Solving (PISA 2015) and Global Competence (PISA 2018). The results have informed education policy discussions at the national and global level since its inception.</p>
      <p class="topAnswer">You can take the test by visiting the official <a href="https://www.oecd.org/pisa/test-2012/">PISA website</a> and choosing one cathegory in which you would like to participate.</p>
      <p class="topAnswer">However if you are participating as a student, the results may take anywhere between a week and a month to arrive.</p>
    </div>
  </div>
  <div class="about-us-answers " id="about-us-answers">
    <div class="Answers">
      <p class="topAnswer">We offer very accesible information about the PISA exam at a very extensive degree. You can find out anything about the exam aswell as results from past years on our website.</p>
      <p class="topAnswer">You can contact us at the phone number found at te bottom page aswell as by emailing us at the adress foundin the same place. Alternatively, you can complete the formular underneath to contact us. Click on <a href="#contact-formular">Contact us here</a> to be redirected to it.</p>
      <p class="topAnswer">You can find out more about us and the amazing team behind this project in the About section found at the top of the page at all time.</p>
    </div>
  </div>
  <div class="work-us-answers" id="work-us-answers">
    <div class="Answers">
      <p class="topAnswer">You can apply for a job by sending us an email at the adress found at the bottom of the page.</p>
      <p class="topAnswer">The email will have to contain a short description of why you would like to work with us aswell as your CV attached.</p>
      <p class="topAnswer">We can work with a lot of different knowledge, as we handle different subjects all the time.</p>
      <p class="topAnswer">Common things we look for in our employees is html, css and javascript aswell as SQL knowledge, however upon inspection of a candidate's CV we might find any skillset usefull to our team.</p>
      <p class="topAnswer">Yes! We do. At the moment our only internships will be held during the summer but stay tuned to hear more.</p>
      <p class="topAnswer">If you are interested you can subscribe to our newsletter.</p>
    </div>
  </div>
  <div id="contact-formular" class="form-container">
    <!-- <form method = "GET" action="/send_data"> -->
    <div class="form-card">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email here..">
      <label for="subject">Message</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      <input type="submit" value="Submit" onclick="submitForm()">
      <div id="email-warning">
      </div>
    </div>
    <!-- </form> -->
  </div>
  <footer>
    <div class="footer-container">
      <p>Telefon: 0744443545</p>
      <p>E-mail: abcd@gmail.com</p>
      <p>Adresa: Strada X nr. 20, Iasi</p>
    </div>
  </footer>
</body>

</html>