<!DOCTYPE html>
<html lang="en">

<head>
  <title>PiRo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="Main page of PiRo">  
  <link rel="stylesheet" type="text/css" href="css/header.css" aria-label="header">
  <link rel="stylesheet" type="text/css" href="css/footer.css" aria-label="footer" async>
  <link rel="stylesheet" type="text/css" href="css/page-content.css" aria-label="pageContent">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" aria-label="chartistLink" async>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" aria-label="chartistLink" async></script>
  <link rel="stylesheet" type="text/css" href="css/main-page.css" aria-label="mainPage">
  <script type="text/javascript" src="/js/header.js" async></script>
  <script type="text/javascript" src="/js/index.js" async></script>
</head>

<body onload="loadElements()">
  <header>
    <div class="logo-container">
      <a id="triangle-logo" href="index.html" aria-label="indexPage"></a>
      <a id="page-title" href="index.html" aria-label="indexPage">PiRo</a>
    </div>
    <nav>
      <a href="custom-statistics" aria-label="statisticsPage">Statistics</a>
      <a href="contact-us.html" aria-label="contactPage">Contact Us</a>
      <div class="dropdown">
        <img class="dropbtn" src="assets/img/menu.svg" onclick="showDropdown()" alt="Menu">
        <div id="myDropdown" class="dropdown-content">
          <a href="custom-statistics" aria-label="statisticsPage">Statistics</a>
          <a href="contact-us.html" aria-label="contactPage">Contact Us</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="description">
      <p class="description-title">
        PISA Results from Romania
      </p>
      <div class="description-container">
        <div class="description-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="ct-chart ct-octave" id="stats-chart1">
            </div>
            <p class="summary-item-subtitle">
              First 10 Countries Ranked by Score
            </p>
          </a>
        </div>
        <div class="description-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="ct-chart2 ct-octave" id="stats-chart2">
            </div>
            <p class="summary-item-subtitle">
              Romania's Ranking
            </p>
          </a>
        </div>
        <div class="description-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="ct-chart3 ct-octave" id="stats-chart3">
            </div>
            <p class="summary-item-subtitle">
              Last 10 Countries Ranked by Score
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="summary">
      <h2 class="summary-title">
        What is PiRo?
      </h2>
      <p class="summary-subtitle">
        A platform for visualizing statistics about the <a href="https://www.oecd.org/pisa/" aria-label="pisaLink">PISA</a> results from Romania.
      </p>
      <div class="summary-container">
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <img id="questionmark-img" alt="Question-mark">
            <p class="summary-item-title">
              Questions
            </p>
            <p class="summary-item-subtitle">
              Specific Questions
            </p>
            <ul class="summary-item-statisticsList">
              <li> Statistic no. 1 </li>
              <li> Statistic no. 2 </li>
              <li> Statistic no. 3 </li>
            </ul>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <img id="worldmap-img" alt="World Map">
            <p class="summary-item-title">
              International
            </p>
            <p class="summary-item-subtitle">
              Comparison
            </p>
            <ul class="summary-item-statisticsList">
              <li> Statistic no. 1 </li>
              <li> Statistic no. 2 </li>
              <li> Statistic no. 3 </li>
            </ul>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <img id="institution-img" alt="Institution">
            <p class="summary-item-title">
              Institutional
            </p>
            <p class="summary-item-subtitle">
              Institutional Statistics
            </p>
            <ul class="summary-item-statisticsList">
              <li> Statistic no. 1 </li>
              <li> Statistic no. 2 </li>
              <li> Statistic no. 3 </li>
            </ul>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <img id="random-img" alt="Dice">
            <p class="summary-item-title">
              Random
            </p>
            <p class="summary-item-subtitle">
              Random Statistics
            </p>
            <ul class="summary-item-statisticsList">
              <li> Statistic no. 1 </li>
              <li> Statistic no. 2 </li>
              <li> Statistic no. 3 </li>
            </ul>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
      </div>
    </div>
    <div class="map-container">
      <a href="" aria-label="refrence">
        World Results
      </a>
      <div id="map"></div>
    </div>
    <div class="contact">
      <h2 class="contact-title">
        Contact
      </h2>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <p>Telefon: 0744443545</p>
      <p>E-mail: abcd@gmail.com</p>
      <p>Adresa: Strada X nr. 20, Iasi</p>
    </div>
  </footer>
</body>

</html>
