<!DOCTYPE html>
<html lang="en">

<head>
  <title>PiRo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="Cache-control" content="public">
  <meta name="description" content="Main page of PiRo">
  <link rel="stylesheet" type="text/css" href="css/header.css" aria-label="header">
  <link rel="stylesheet" type="text/css" href="css/footer.css" aria-label="footer">
  <link rel="stylesheet" type="text/css" href="css/page-content.css" aria-label="pageContent">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" aria-label="chartistLink">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" aria-label="chartistLink" async></script>
  <link rel="stylesheet" type="text/css" href="css/main-page.css" aria-label="mainPage">
  <script type="text/javascript" src="/js/index.js" async></script>
</head>

<body onload="loadElements()">
  <header>
    <div class="logo-container">
      <a id="triangle-logo" href="index.html" aria-label="indexPage"></a>
      <a id="page-title" href="index.html" aria-label="indexPage">PiRo</a>
    </div>
    <nav>
      <a href="custom-statistics" aria-label="statisticsPage">Statistics</a>
      <a href="contact-us.html" aria-label="contactPage">Contact Us</a>
      <div class="dropdown">
        <img class="dropbtn" src="assets/img/menu.svg" onclick="showDropdown()" alt="Menu">
        <div id="myDropdown" class="dropdown-content">
          <a href="custom-statistics" aria-label="statisticsPage">Statistics</a>
          <a href="contact-us.html" aria-label="contactPage">Contact Us</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="description">
      <h2 class="description-title">
        PISA Results from Romania
      </h2>
      <div class="description-container">
        <div class="description-card" onclick="goToStatistics('China(Beijing,Shanghai,Jiangsu,Zhejiang)')">
          <a class="itemLink">
            <div class="ct-chart ct-octave" id="stats-chart1">
            </div>
            <p class="summary-item-subtitle">
              First 10 Countries Ranked by Score
            </p>
          </a>
        </div>
        <div class="description-card" onclick="goToStatistics('Malaysia')">
          <a class="itemLink">
            <div class="ct-chart2 ct-octave" id="stats-chart2">
            </div>
            <p class="summary-item-subtitle">
              Romania's Ranking
            </p>
          </a>
        </div>
        <div class="description-card" onclick="goToStatistics('Dominican Republic')">
          <a class="itemLink">
            <div class="ct-chart3 ct-octave" id="stats-chart3">
            </div>
            <p class="summary-item-subtitle">
              Last 10 Countries Ranked by Score
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="summary">
      <h2 class="summary-title">
        What is PiRo?
      </h2>
      <p class="summary-subtitle">
        A platform for visualizing statistics about the <a href="https://www.oecd.org/pisa/" aria-label="pisaLink">PISA</a> results from Romania.
      </p>
      <div class="summary-container">
        <div class="summary-card" onclick="goToStatisticsQuestions()">
          <a class="itemLink">
            <img id="questionmark-img" alt="Question-mark">
            <p class="summary-item-title">
              Questions
            </p>
            <p class="summary-item-subtitle">
              Specific Questions
            </p>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card" onclick="goToStatistics('China(Beijing,Shanghai,Jiangsu,Zhejiang)')">
          <a class="itemLink">
            <img id="worldmap-img" alt="World Map">
            <p class="summary-item-title">
              International
            </p>
            <p class="summary-item-subtitle">
              Comparison
            </p>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card" onclick="goToStatisticsInsitutional()">
          <a class="itemLink">
            <img id="institution-img" alt="Institution">
            <p class="summary-item-title">
              Institutional
            </p>
            <p class="summary-item-subtitle">
              Institutional Statistics
            </p>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
        <div class="summary-card" onclick="goToStatisticsRandom()">
          <a class="itemLink">
            <img id="random-img" alt="Dice">
            <p class="summary-item-title">
              Random
            </p>
            <p class="summary-item-subtitle">
              Random Statistics
            </p>
            <button class="button card-button">Learn More</button>
          </a>
        </div>
      </div>
    </div>
    <div class="map-container">
      <h2>
        World Results
      </h2>
      <div id="map"></div>
      <div class="countries">
        <label for="country-input">Select Country</label>
        <input type="text" onclick="showContent()" placeholder="Country Name..." id="country-input" onkeyup="filterFunction()" autocomplete="off">
        <div id="dropdown-countries" class="countries-dropdown-content">
        </div>
      </div>
    </div>
    <div class="contact">
      <h2 class="contact-title">Meet the Team</h2>
      <div class="contact-container">
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="img-container">
              <img id="george-img" src="/assets/img/george.png" alt="George's Profile Picture">
            </div>
            <p class="summary-item-title">
              George Boghez
            </p>
            <p class="summary-item-subtitle">
              Student
            </p>
            <ul class="summary-item-statisticsList">
              <li> Phone: 0720 000 000 </li>
              <li> Email: gvb@gmail.com </li>
            </ul>
          </a>
        </div>
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="img-container">
              <img id="teofil-img" src="/assets/img/teofil.png" alt="Teofil's Profile Picture">
            </div>
            <p class="summary-item-title">
              Teofil T&#259;nase
            </p>
            <p class="summary-item-subtitle">
              Student
            </p>
            <ul class="summary-item-statisticsList">
              <li> Phone: 0721 111 111 </li>
              <li> Email: ttn@gmail.com </li>
            </ul>
          </a>
        </div>
        <div class="summary-card">
          <a class="itemLink" href="" aria-label="itemLink">
            <div class="img-container">
              <img id="radu-img" src="/assets/img/radu.PNG" alt="Radu's Profile Picture">
            </div>
            <p class="summary-item-title">
              Radu Pl&#259;cint&#259;
            </p>
            <p class="summary-item-subtitle">
              Student
            </p>
            <ul class="summary-item-statisticsList">
              <li> Phone: 0722 222 222 </li>
              <li> Email: rpl@gmail.com </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="button-container">
        <a class="button card-button" href="/contact-us.html#contact-formular">Contact Us</a>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <p>Telefon: 0744443545</p>
      <p>E-mail: abcd@gmail.com</p>
      <p>Adresa: Strada X nr. 20, Iasi</p>
    </div>
  </footer>
</body>

</html>