.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b2653;
  height: 800px;
  width: 100%;
  font-family: sans-serif;
  color: white;
}

.FAQ-title {
  font-size: 48px;
  margin: 0;
}

.FAQ-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.FAQ-card {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  margin: 10px;
  padding: 12px;
  background-color: white;
  color: #1b2653;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 12px;
  width: 40%;
  background-color: white;
  color: #1b2653;
}

.invalid-data {
  color: red;
  margin: 8px;
}

.valid-data {
  color: green;
}

.FAQ-card:hover {
  box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.9);
}

.FAQ-itemLink {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.FAQ-item-title {
  font-size: 36px;
  font-weight: bold;
  margin: 12px;
}

.FAQ-item-subtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  padding: 12px;
  margin: 0px;
  border-bottom: 1px solid #2a3e52;
}

.FAQ-item-statisticsList {
  list-style-type: circle;
  font-size: 18px;
  padding: 12px;
  margin: 0px;
}

#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1b2653;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topbtn:hover {
  background-color: #555;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1aa0b;
  height: 800px;
  width: 100%;
  font-family: sans-serif;
}

.description-title {
  font-size: 48px;
  color: white;
  margin: 0;
}

.pisa-exam-answers {
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 800px;
  width: 100%;
  font-family: sans-serif;
}

.about-us-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1aa0b;
  height: 800px;
  width: 100%;
  color: white;
  font-family: sans-serif;
}

.work-us-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 800px;
  width: 100%;
  font-family: sans-serif;
}

.Answers {
  font-size: 40px;
  font-family: sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: #2a3e52;
}
.topAnswer > a {
  color: #2a3e52;
  text-decoration: underline; 
  font-weight: bold;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1aa0b;
  height: 800px;
  width: 100%;
  color: white;
  font-family: sans-serif;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #1b2653;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#subject {
  height: 100px!important;
}

#email-warning {
  text-align: center;
}

input[type=submit]:hover {
  background-color: #f1aa0b;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .summary-item-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#captcha-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#captcha-container>input {
  margin-bottom: 6px;
}

@media (max-width: 3000px) {
  .Answers {
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }

  .FAQ-card {
    flex: 0 1 33%
  }
}

@media (max-width: 1050px) {
  .Answers {
    font-size: 22px;
    font-family: sans-serif;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .FAQ-title {
    font-size: 30px;
    margin: 0;
  }

  .FAQ {
    height: 1300px;
  }

  .FAQ-card {
    flex: 0 1 60%;
    width: 60%;
  }

  .FAQ-container {
    flex-direction: column;
  }
}


@media (max-width: 550px) {
  .Answers {
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .FAQ-title {
    font-size: 30px;
    margin: 0;
  }

  .FAQ {
    height: 1600px;
  }

  .FAQ-card {
    flex: 0 1 60%;
    width: 60%;
  }

  .FAQ-container {
    flex-direction: column;
  }
  .form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    padding: 12px;
    width: 60%;
    background-color: white;
    color: #1b2653;
  }

}

@media (max-width: 300px) {
  .Answers {
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position:relative;
  }

  .FAQ-title {
    font-size: 30px;
    margin: 0;
  }

  .FAQ {
    height: 1600px;
  }

  .FAQ-card {
    flex: 0 1 60%;
    width: 60%;
  }

  .FAQ-container {
    flex-direction: column;
  }

}
