footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #000033;
}

.footer-container>p {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .footer-container>p {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container>p {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
  }
}

@media only screen and (min-width: 478px) {
  .footer-container>p {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
  }
}