footer {
  position: relative;
  height: 120px;
  width: 100%;
  text-align: center;
  background-color: #000033;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-container>p {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  padding: 10px;
}

@media only screen and (min-width: 1024px) {
  .footer-container>p {
    font-family: sans-serif;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container>p {
    font-family: sans-serif;
    color: white;
  }
}

@media only screen and (min-width: 478px) {
  .footer-container>p {
    font-family: sans-serif;
    color: white;
  }
}