.map-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1aa0b;
	margin: auto;
	height: auto;
	width: 100%;
	min-height: 80vh;
}

.map-container > a {
	color: #2a3e52;
	padding: 10px;
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
}

.map-container > a:hover {
	color: #1b2653;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
}

.participating {
	fill: #fff;
	stroke: #D89909;
}

.participating:hover {
	fill: #1b2653;
	stroke: #2a3e52;
}

.summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: auto;
	min-height: 80vh;
	width: 100%;
	font-family: sans-serif;
}

.summary-title {
	font-size: 48px;
	margin: 0;
}

.summary-subtitle {
	font-size: 36px;
}

.summary-subtitle > a {
	color: inherit;
	font-weight: bold;
}

.summary-container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.summary-card {
	display: block;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 15%;
	margin: 10px;
    padding: 12px;
}

.summary-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.itemLink {
	display: flex;
	flex: 1 1 160px;
	flex-direction: column;
	color:inherit;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.itemLink > img {
	height: 100px;
}

.summary-item-title {
	font-size: 36px;
	font-weight: bold;
	margin: 12px;
}

.summary-item-subtitle {
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	padding: 12px;
	margin: 0px;
	border-bottom: 1px solid #2a3e52;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .summary-item-subtitle {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.summary-item-statisticsList {
	list-style-type: circle;
	font-size: 18px;
	padding: 12px;
	margin: 0px;
}

.card-button {
  background-color: #1b2653;
}

.card-button:hover {
  background-color: #f1aa0b;
  border-color: #f1aa0b;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1b2653;
	width: 100%;
	height: auto;
	min-height: 80vh;
	font-family: sans-serif;
}

.description-title {
	margin-top: 0;
	font-size: 48px;
	color: white;
}

.description-container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.description-card {
	display: block;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	height: 70%;
	margin: 10px;
    padding: 12px;
    padding-bottom: 12px;
}

.ct-chart-bar {
	overflow: visible;
}

.description-card:hover {
  box-shadow: 0 16px 32px 0 #000;
}

.descriprion-item-title {
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	padding: 12px;
	margin: 0px;
	border-bottom: 1px solid #2a3e52;
}

.ct-series-a .ct-bar, .ct-series-b .ct-bar, .ct-series-c .ct-bar, .ct-series-d .ct-bar, .ct-series-e .ct-bar, .ct-series-f .ct-bar, .ct-series-g .ct-bar, .ct-series-h .ct-bar, .ct-series-i .ct-bar, .ct-series-j .ct-bar {
    stroke: #f1aa0b;
}

#stats-chart2 .ct-series-e .ct-bar {
    stroke: #1b2653;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
	height: auto;
	min-height: 80vh;
	font-family: sans-serif;
}

.contact-title {
	font-size: 48px;
	margin: 0;
}


@media (max-width: 1350px) {
	.map-container svg {
		width: 100%;
		height: calc(width * 0.5);
	}

	.summary-card {
		flex: 0 1 33%;
	}
}


@media (max-width: 1900px) {
	.description-card {
		flex: 0 1 40%;
	}
}


@media (max-width: 1500px) {
	.description-card {
		flex: 0 1 70%;
	}
	.summary-title {
		font-size: 36px;
		margin: 0;
	}
	.description-title {
		font-size: 36px;
		margin: 0;
	}
}

@media (max-width: 600px) {
	.map-container svg {
		width: 100%;
		height: calc(width * 0.5);
	}

	.summary-card {
		flex: 0 1 50%;
	}
}
