.map-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1b2653;
	margin: auto;
	height: auto;
	width: 100%;
	min-height: 80vh;
}

.map-container > a {
	color: white;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
}

.map-container > a:hover {
	color: #f1aa0b;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	font-family: sans-serif;
}

.map-container svg path {
	fill: #fff;
	stroke: #253569;
}

.map-container svg path:hover {
	fill: #f1aa0b;
	stroke: #2a3e52;
}

.summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: auto;
	min-height: 80vh;
	width: 100%;
	font-family: sans-serif;
}

.summary-title {
	font-size: 48px;
	margin: 0;
}

.summary-subtitle {
	font-size: 36px;
}

.summary-subtitle > a {
	color: inherit;
	font-weight: bold;
}

.summary-container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.summary-card {
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 15%;
	margin: 10px;
    padding: 12px;
}

.summary-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.summary-itemLink {
	display: flex;
	flex: 1 1 160px;
	flex-direction: column;
	color:inherit;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.summary-item-title {
	font-size: 36px;
	font-weight: bold;
	margin: 12px;
}

.summary-item-subtitle {
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	padding: 12px;
	margin: 0px;
	border-bottom: 1px solid #2a3e52;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .summary-item-subtitle {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.summary-item-statisticsList {
	list-style-type: circle;
	font-size: 18px;
	padding: 12px;
	margin: 0px;
}

.card-button {
  background-color: #1b2653;
}

.card-button:hover {
  background-color: #f1aa0b;
  border-color: #f1aa0b;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1aa0b;
	width: 100%;
	height: auto;
	min-height: 80vh;
	font-family: sans-serif;
}

.description-title {
	font-size: 48px;
	color: white;
	margin: 0;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
	height: auto;
	min-height: 80vh;
	font-family: sans-serif;
}

.contact-title {
	font-size: 48px;
	margin: 0;
}


@media (max-width: 1350px) {
	.map-container svg {
		width: 100%;
		height: calc(width * 0.5);
	}

	.summary-card {
		flex: 0 1 33%;
	}
}

@media (max-width: 500px) {
	.map-container svg {
		width: 100%;
		height: calc(width * 0.5);
	}

	.summary-card {
		flex: 0 1 50%;
	}
}
