.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1aa0b;
  margin: auto;
  height: auto;
  width: 100%;
  min-height: 80vh;
}

.map-container>h2 {
  color: #2a3e52;
  margin: 0px;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

 .countries > label {
  color: #2a3e52;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

.participating:hover {
  fill: #1b2653;
  stroke: #2a3e52;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: auto;
  min-height: 80vh;
  width: 100%;
  font-family: sans-serif;
}

.summary-title {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
}

.summary-subtitle {
  text-align: center;
  font-size: 36px;
}

.summary-subtitle>a {
  color: inherit;
  font-weight: bold;
}

.summary-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-card {
  cursor: pointer;
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  margin: 10px;
  padding: 12px;
}

.section-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.contact .item {
  cursor: default;
}

.item {
  display: flex;
  flex: 1 1 160px;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.item>img {
  height: 100px;
}

.item-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 12px;
}

.item-subtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  padding: 12px;
  margin: 0px;
  margin-bottom: 5px;
  border-top: 1px solid #2a3e52;
  border-bottom: 1px solid #2a3e52;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .item-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.item-list {
  list-style-type: circle;
  font-size: 18px;
  padding: 12px;
  margin: 0px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b2653;
  width: 100%;
  height: auto;
  min-height: 80vh;
  font-family: sans-serif;
}

.description-title {
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  color: white;
}

.description-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.description-card {
  cursor: pointer;
  display: block;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 70%;
  margin: 10px;
  padding: 12px;
}

.ct-chart-bar {
  overflow: visible;
}

.description-card:hover {
  box-shadow: 0 16px 32px 0 #000;
}

.descriprion-item-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  padding: 12px;
  margin: 0px;
  border-bottom: 1px solid #2a3e52;
}

.ct-series-a .ct-bar,
.ct-series-b .ct-bar,
.ct-series-c .ct-bar,
.ct-series-d .ct-bar,
.ct-series-e .ct-bar,
.ct-series-f .ct-bar,
.ct-series-g .ct-bar,
.ct-series-h .ct-bar,
.ct-series-i .ct-bar,
.ct-series-j .ct-bar {
  stroke: #f1aa0b;
}

#stats-chart2 .ct-series-e .ct-bar {
  stroke: #1b2653;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  min-height: 80vh;
  font-family: sans-serif;
}

.contact-title {
  text-align: center;
  font-size: 48px;
  margin: 50px;
}

.contact-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-container {
  padding: 25px;
}

.img-container {
  width: 150px;
  height: 150px;
}

.img-container>img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#country-input {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  text-align: center;
  min-width: 300px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
}

#country-input:focus {outline: 3px solid #ddd;}

.countries {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.countries-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 300px;
  max-height:250px;
  overflow:auto;
  border: 1px solid #ddd;
  z-index: 1;
  margin-top: 90px;
}

.countries-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.countries a:hover {background-color: #ddd;}

.show {display: block;}


@media (max-width: 1350px) {
  .map-container svg {
    width: 100%;
    height: calc(width * 0.5);
  }

  .contact {
  min-height: 60vh;
  }

  .section-card {
    flex: 0 1 33%;
  }
}


@media (max-width: 1900px) {
  .description-card {
    flex: 0 1 40%;
  }
}


@media (max-width: 1500px) {
  .description-card {
    flex: 0 1 70%;
  }

  .summary-title {
    font-size: 36px;
  }

  .contact-title {
    font-size: 36px;
  }

  .description-title {
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .item-list {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .map-container svg {
    width: 100%;
    height: calc(width * 0.5);
  }

  .section-card {
    flex: 0 1 50%;
  }
}