<header>
	<div class="logo-container">
		<a id="triangle-logo" href="index.html"></a>
		<a id="page-title" href="index.html">PiRo</a>
	</div>

	<nav>
		<a href="custom-statistics">Statistics</a>
		<a href="about-page.html">About</a>
		<a href="contact-us.html">Contact Us</a>
		<div class="dropdown">
			<img src="assets/img/menu.svg" onclick="myFunction()" class="dropbtn"></img>
			<div id="myDropdown" class="dropdown-content">
				<a href="custom-statistics">Statistics</a>
				<a href="about-page.html">About</a>
				<a href="contact-us.html">Contact Us</a>
			</div>
		</div>
	</nav>
</header>
