#page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #1ACAE2;
}